[*.cs]

# CA1034: Вложенные типы не должны быть видимыми
dotnet_diagnostic.CA1034.severity = silent

# CA2208: Правильно создавайте экземпляры исключений аргументов
dotnet_diagnostic.CA2208.severity = silent

# CA2007: Попробуйте вызвать ConfigureAwait для ожидаемой задачи
dotnet_diagnostic.CA2007.severity = silent

# CA1056: Свойства, напоминающие URI, не должны быть строками
dotnet_diagnostic.CA1056.severity = silent

# CA1055: Возвращаемые значения, напоминающие URI, не должны быть строками
dotnet_diagnostic.CA1055.severity = silent

# CA1031: Не перехватывать исключения общих типов
dotnet_diagnostic.CA1031.severity = silent

# CA1305: Укажите IFormatProvider
dotnet_diagnostic.CA1305.severity = silent

# CA1054: Параметры, напоминающие URI, не должны быть строками
dotnet_diagnostic.CA1054.severity = silent

# CA5394: Не используйте небезопасные генераторы случайных чисел.
dotnet_diagnostic.CA5394.severity = silent

# CA1310: Используйте StringComparison, чтобы правильно указать намерение.
dotnet_diagnostic.CA1310.severity = silent

# CA1032: Реализуйте стандартные конструкторы исключения
dotnet_diagnostic.CA1032.severity = silent

# CA2300: Не используйте небезопасный десериализатор BinaryFormatter
dotnet_diagnostic.CA2300.severity = none

# CA1716: Идентификаторы не должны совпадать с ключевыми словами
dotnet_diagnostic.CA1716.severity = none

# CA1720: Идентификатор содержит имя типа
dotnet_diagnostic.CA1720.severity = none

# CA1710: Идентификаторы должны иметь правильные суффиксы
dotnet_diagnostic.CA1710.severity = none

# CA1003: Используйте экземпляры обработчика универсальных событий
dotnet_diagnostic.CA1003.severity = silent

# CA1024: Используйте свойства, когда это уместно
dotnet_diagnostic.CA1024.severity = silent

# CA1725: Имена параметров должны соответствовать базовому объявлению
dotnet_diagnostic.CA1725.severity = none

# CA2225: Для перегрузок операторов существуют варианты с именами
dotnet_diagnostic.CA2225.severity = none
